* {
    box-sizing: border-box;
    font-family: ;
}

body {
    margin: 0;
}

.imageBoard {
    display: flex;
    justify-content: space-around;
}

.imageBlock {
    max-width: 250px;
    padding: 5px;
    margin: 10px;
}

.imageBlock img {
    object-fit: cover;
    width: 100%;
}
